a:link, a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover, a:active {
    color: #000080;
    background-color: transparent;
    text-decoration: none;
}
.header-bg {
     background-color: #FF9933;
 }

.footer {
    bottom: 5;
    width: 100%;
    background-color: #138808;
}

.homepage-text {
    text-align: center;
    color: #000080;
    font-size: 75px;
}

.content {
    text-align: center;
}

img {
    text-align: center;
}

.padding {
    padding-bottom: 25px;
}