a:link, a:visited {
    color: black;
    text-decoration: none;
}
a:hover, a:active {
    color: #000080;
    text-decoration: none;
}
.header-bg {
     background-color: #FF9933;
 }

.footer {
    bottom: 5;
    width: 100%;
    background-color: #FF9933;
}

.homepage-text {
    text-align: center;
    color: #000080;
    font-size: 75px;
}

.content {
    text-align: center;
}

.padding {
    padding-bottom: 25px;
}

.button {
    background-color: #138808;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80%;
    margin:4px 2px;
    cursor: pointer;
    width: 25%;
    min-width: 250px;
}

{box-sizing: border-box;}

.logoutLblPos{
    position:fixed;
    right:10px;
    top:5px;
}

.img {
    max-width: 50%;
    max-height: 50%;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.submitButton{
    background-color: green;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:4px 2px;
    cursor: pointer;
    width: 44%;
}

.closeButton{
    background-color: red;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:4px 2px;
    cursor: pointer;
    width: 44%;
}