
/*form class used for the popup, when clicking on each button*/
.setchargerateform-popup
{
	display:none;
	position: absolute;	/*was position: fixed*/
	top: 170px;	/*was bottom: 0*/
	right: 870px;	/*was 15px, 870px*/
	border: 3px solid #f1f1f1;
	z-index:9;
	margin-left:auto;
	margin-right:auto;
}
.setbandwidthform-popup
{
	display:none;
	position: absolute;
	top: 170px;
	right: 540px;
	border: 3px solid #f1f1f1;
	z-index:9;
	margin-left:auto;
	margin-right:auto;
}
.setdiscountform-popup
{
	display:none;
	position: absolute;
	top: 170px;
	right: 210px;
	border: 3px solid #f1f1f1;
	z-index:9;
}
.setstorageform-popup
{
	display:none;
	position: absolute;
	top: 425px;
	right: 870px;
	border: 3px solid #f1f1f1;
	z-index:9;
}
.setperiodform-popup
{
	display:none;
	position: absolute;
	top: 425px;
	right: 540px;
	border: 3px solid #f1f1f1;
	z-index:9;
}
/*class used to add styles to the form*/
.form-container
{
	min-height: 225px;
	min-width: 300px;
	max-width: 300px;
	padding: 10px;
	background-color: lightblue;
}
/*used for the input fields*/
.form-container input[type-text]
{
	width:100%
	padding:15px;
	margin:5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}
/*darken the input fields when clicked on*/
.form-container input[type-text]:focus
{
	background-color: #ddd;
	outline: none;
}
/*style of the submit button*/
.form-container .submitButton
{
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%
	margin-bottom:10px;
	opacity: 0.8;
}
/*style of the cancel button*/
.form-container .cancelButton
{
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%
	margin-bottom:10px;
	opacity: 0.8;
}
/*addition of hover effects to the buttons*/
.form-container .submitButton:hover, .cancelButoon:hover
{
	opacity: 1;
}